<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>In a class</h1>
    <a href="quizzes">Make new quiz</a> <br>
    <a href="viewQuiz">View chosen quiz questions</a>
    <a href="queue">Queue a quiz to the formbar</a>
</body>
<script>
    //Page for adding/editing quizes to a class
</script>
</html>