<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Question</title>
</head>
<body>
    <include src="./partials/footer.ejs"></include>
</body>
<script>
    //Page for editing a quiz's name
</script>
</html>