<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Choose a Class:</h1>
    <a href="quizzes">Pick a class(placeholder)</a>
</body>

<script>
    //Page for home - choosing classes after login
</script>

</html>