<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
</head>

<body>
    <h1>Choose a Class:</h1>
    <button onclick="getClasses()">Refresh Classes</button>
    <select id="classList"></select><br>
    <button onclick="window.location.href='quizzes'">Go to Quizzes</button>
</body>

<script>
    const socket = io("http://localhost:420/", {
        extraHeaders: {
            api: "01b457320ec6b70fa49763d239e2babb8baaa7831b45b175a3e1602b37018b2b"
        }
    });
    socket.onAny((event, ...args) => {
        console.log(`got ${event}`);
        console.log(args);
    });
    socket.on('setClass', (newClassId) => {
        console.log(`The user is currently in the class with id ${newClassId}`);
    });
    socket.on('classUpdate', (update) => {
        console.log(`update: ${update}`);
    });
    socket.on('connect', () => {
        console.log('Connected to server');
    });
    socket.on('ownedClasses', (ownedClasses) => {
        classes = ownedClasses;
        console.log(classes);
        var select = document.getElementById("classList");
        select.innerHTML = "";
        for (var i = 0; i < classes.length; i++) {
            var option = document.createElement("option");
            option.value = classes[i].id;
            option.text = classes[i].name;
            select.appendChild(option);
        }
        select.onchange = function() {
            var selectedClassId = this.value;
            socket.emit('setClass', selectedClassId);
        };
    });
    var classes = [];
    function getClasses() {
        console.log(socket.emit('getOwnedClasses', 'email'));
    }

</script>
</body>

</html>