<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Landing</title>
</head>
<body>
    <h1>Welcome, <%= user %></h1>
    <div id="status"></div>
    <button onclick="window.location.href='classes'">Choose a Class</button>
    <br>
    <button onclick="window.location.href='queue'">View the current Queue</button>
    <!--- Allows users to navigate to the classes page and to the queue directly -->
</body>
<script>
    // const status = document.getElementById('status');
    // if (queueActive) {
    //     status.textContent = "Currently " + quiz + "for " + currentClass + " is active in the queue.";
    // }
</script>

</html>