<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
</head>

<body>
    <h1>You are editing <% quiz.quizName %></h1>

    <h1>Add a Question:</h1>
    <form action="/addQuestion" method="POST">
        <input type="text" id="addQuestion" name="addQuestion" placeholder="Enter question here"> <br> <br>

        <input type="text" id="amswers1" name="answer1" placeholder="Enter answer here(Required)"> <br>
        <input type="text" id="answers2" name="answer2" placeholder="Enter answer here(Required)"> <br>
        <input type="text" id="answers3" name="answer3" placeholder="Enter answer here(Optional)"> <br>
        <input type="text" id="answers4" name="answer4" placeholder="Enter answer here(Optional)"> <br>
        <button type="submit" onclick="addQuestion()">Submit</button>
    </form>

</body>

<script>
        // assign elements to variables

        // parse quizzes data from server
        const quizzes = `<%- JSON.stringify(quizzes) %>`;

        document.addEventListener('DOMContentLoaded', () => {
            const parsedQuizzes = JSON.parse(quizzes); // Parse the quizzes string
            console.log(parsedQuizzes);
            console.log(quizSelection);
            updateQuizList(parsedQuizzes);
        });
</script>

</html>