<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
</head>
<body>
    <div>You are adding to quiz (Quiz Name here)<%- %></div>
    <form action="/addQuestions" method="POST">
        <input type="text" id="addQuestion" name="addQuestion" placeholder="Enter question here"> <br> <br>

        <input type="text" id="answers1" name="answer1" placeholder="Enter answer here(Required)"> <br>
        <input type="text" id="answers2" name="answer2" placeholder="Enter answer here(Required)"> <br>
        <input type="text" id="answers3" name="answer3" placeholder="Enter answer here(Optional)"> <br>
        <input type="text" id="answers4" name="answer4" placeholder="Enter answer here(Optional)"> <br>
        <button type="submit" onclick="addQuestion()">Submit</button>
    </form>

    <div>Done submitting questions: <a href="/">return home</a></div>
</body>

<script>
    //const socket = io(); // Establish connection to the server
    
    /*socket.on('addQuestion', () => {
        socket.emit('requestQuizzes');
    });*/
</script>
</html>