<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Queue</title>
</head>
<body>
    <button onclick="loadList()">Load List</button>
    <button onclick="startPoll()">Start Formbar Poll</button>
    <button onclick="nextQuestion()">Next Question</button>
    <button><a href="/">Back</a>></button>
</body>
<script>
    function loadList(list) {

    }
    function startPoll() {

    }
    function nextQuestion() {

    }
</script>
</html>