<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes</title>
</head>

<body>
    <h1>Create a new Quiz:</h1>
    <form action="/addQuiz" method="POST">
        <label for="quizTitle">Quiz Title:</label>
        <input type="text" id="quizTitle" name="quizName" placeholder="Quiz Title">
        <button type="submit">Create Quiz</button>
    </form>
    <br>
    <br>
    <h1>Edit an Existing Quiz:</h1>
    <form action="/editQuiz" method="POST">
        <label for="quizSelection">Select a Quiz to Edit:</label>
        <select id="quizSelection" name="quizSelection">
            <option value="" disabled selected>Select a quiz</option>
        </select>
    </form>
    <br>
    <button onclick="editQuiz()">Edit Quiz</button>
</body>


<script>
    const quizList = document.getElementById('quizList');
    const quizSelection = document.getElementById('quizSelection');

    const quizzes = `<%- JSON.stringify(quizzes) %>`;

    function updateQuizList(quizzes) {
        quizList.innerHTML = '';
        quizSelection.innerHTML = '<option value="" disabled selected>Select a quiz</option>';

        quizzes.forEach(quiz => {
            console.log(quiz);
            const quizLink = document.createElement('a');
            quizLink.textContent = `${quiz.quizName}`;
            quizLink.href = `/questions?quizTitle=${encodeURIComponent(quiz.quizName)}`;
            quizList.appendChild(quizLink);
            quizList.appendChild(document.createElement('br'));

            const quizOpt = document.createElement('option');
            quizOpt.value = quiz.quizID + ". " + quiz.quizName;
            quizOpt.textContent = quiz.quizName;
            quizSelection.appendChild(quizOpt);
        });
    };

    function editQuiz() {
        if (!quizSelection.value) {
            alert('Please select a quiz to edit.');
        } else {
            if (!quizSelection.value) {
                alert('Please select a quiz to edit.');
                return;
            }
            const selectedQuiz = quizSelection.value;
            window.location.href = `/editQuiz?quizTitle=${encodeURIComponent(selectedQuiz)}`;
        }
    }

    // Initial rendering of the quiz list
    onload = updateQuizList(JSON.parse(quizzes));
</script>

</html>