<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>In a class</h1>
    <a href="addQuiz">Make a New quiz</a> <br>
    <a href="viewQuiz">View All Quizzes</a> <br>
    <a href="queue">View the Queue</a>

</body>
<script>
    //Make it so that the teacher may add quizzes/questions THEN pull
</script>
</html>