<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="viewQuestion">View Questions of chosen Quiz</a> <br>
    <a href="addQuestion">Adding a question to existing quiz</a>

</body>
<script>
    //Page for viewing all questions in a quiz
    //Pulls info from db and displays all in/under a certain quiz
    //Should be able to load quiz lists
</script>
</html>